* {
  
  width: 100%; 
  box-sizing: border-box;
}

body {
  background-color: #131720;
  font-family: sans-serif;
  color: white;
}


.topnav{
  overflow: hidden;
  background-color: #131720;
  padding: 10px;
}

.topnav a{
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: uppercase;
}

.topnav .search-container{
  float: right;
  }

  form {
    background-color: #151f30;
    width: 300px;
    height: 43px;
    border-radius: 11px;
    display: flex;
    align-items: center;
  }

  input {
    all: unset;
    font: 15px system-ui;
    color:#fff;
    height: 100%;
    width: 100%;
    padding: 6px 9px;
  }

  .thumbnail {
    height: 350px;
    width: 300px;
    border-radius: 19px;
  }

  .column {
    float: left;
    width: 25%;
    padding:10px 10px;
  }

  .card {
    border-radius: 19px;
    padding: 15px;
    text-align: center;
    background-color: #151f30;
  }

  .star {
    width: 20px;
    vertical-align: bottom;
    clip-path: polygon(50% 1%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    -webkit-clip-path: polygon(50% 10%, 61% 40%, 98% 40%, 65% 60%, 78% 91%, 50% 70%, 25% 93%, 33% 60%, 2% 40%, 40% 39%);
    background-color: #ffcc00; /* Change the background behind the star */
  }

  .reviews {
    color: rgb(0, 106, 255);
  }